<%- include("partials/header") %>
<div class="container">
    <div class="row d-flex align-items-center">
        <div class="col-lg-2"></div>
        <div class="col-lg-6 mt-5">
            <h1 class="display-2 text-success mt-5">Plant Arena</h1>
            <h4 class="display-5 text-success mt-5"><i>What is Plant Arena?</i></h4>
            <p><b class="text-success"><i>"Plant Arena"</i></b> is a treasure trove of plants. It is an online platform for buying plants and plant care
                products. Basically, it is a website for nursery where admin can add different varieties of plants and
                plant care products tools etc. User registers to buy different variety of plants, plants care products. It
                even provides plant-care and maintenance tips. Plant Arena is one stop destination for all the
                gardening needs of the user to share their love for plants.</p>
                <h4 class="display-5 text-success mt-3"><i>Why Plant Arena?</i></h4>
                <p><b class="text-success"><i>"Plants"</i></b> are the green elements whose presence is indispensable for the entire mankind. In recent years,
                    it is observed human activity has been negatively affecting natural ecosystems, biodiversity, and the
                    climate. With a focus on spreading green, beauty and healing our website gives platform to the user to
                    buy plants and plant care products online and get it to their doorstep..</p>
                    <h4 class="display-5 text-success mt-3"><i>Branches</i></h4>
                    <ul>
                            
                       
                            <div class=" mt-1">
                               
                                <li>
                              <a href="#" class=" text-dark">Rajajinagar 6th block <b class="text-success"><i>Banglore</i></b> 560010.</a><br><br>

                                </li>
                                <li>
                              <a href="#" class=" text-dark">19, Lindsay St, New Market Area, Dharmatala, Taltala, <b class="text-success"><i>Kolkata, West Bengal</i></b> 700087</a><br><br>

                                </li>
                                <li>
                              <a href="#" class=" text-dark">Andheri east, <b class="text-success"><i>Mumbai</i></b>  400069 </a>

                                </li>
                            </div>
                            
                         
                    </ul>
                    <h4 class="display-5 text-success mt-3"><i>Contact</i></h4>
                    <ul>
                            
                       
                            
                            <div >
                                <li>
                                <a href="/Landing" class="mt-4 text-success"><i><b>https://www.plantarena.io</b></i></a><br><br>

                                </li>
                                <li>
                                <a href="tel:+91-7899562148" class="mt-4 text-success"><i><b>+91-7899562148</b></i></a><br><br>

                                </li>
                                <li>
                                <a href="mailto:plantarena@gmail.com"class="mt-4 text-success"><i><b>plantarena@gmail.com</b></i></a>

                                </li>
                           
                            </div>
                         
                    </ul>
        </div>
        
        <div class="col-lg-4">
            <img src="/loginleaves.jpg" alt="" style="width: 65%;position: absolute; margin-top: -60%;">
        </div>
    </div>

</div>
<script>
      $(document).ready(function(){
   

   $(".fixed-top").css("background-color", "#28A745"); 
});

</script>
<%- include("partials/footer") %>
