
<%- include("partials/header") %>
<div class="container">
    <div class="row d-flex align-items-center">
        <div class="col-lg-2"></div>
        <div class="col-lg-6 mt-5">
            <h1 class="display-2 text-success mt-5">Front-End</h1>
            <h6 class="text-success display-3">EJS</h6>
            <p><b><i>EJS</i></b> is a simple templating language that lets you generate HTML markup with plain JavaScript. No religiousness about how to organize things. No reinvention of iteration and control-flow. It's just plain JavaScript.</p>
            <h6 class=" text-success">Developer : Swaroop R M</h6>
            <div class="row d-flex align-items-center">
                <div class="col-lg-3"></div>
                <div class="col-lg-2"><h5><a href="https://www.instagram.com/swaroop_rm/" target="_blank"><img src="https://cdn4.iconfinder.com/data/icons/picons-social/57/38-instagram-3-512.png" alt="" style="width: 100%;"></a></h5></div>
                <div class="col-lg-2">
                <h5><a href="https://www.facebook.com/swaroop.rm.1/" target="_blank"><img src="https://i.pinimg.com/originals/b7/63/69/b763699fd1fa3bfb374442593ae642e1.png" alt="" style="width: 120%;"></a></h5>

                </div>
                <div  class="col-lg-2 ml-1">
                    <h5><a href="https://github.com/swaroop2105" target="_blank"><img src="https://icons-for-free.com/iconfiles/png/512/github+icon-1320168274457504277.png" alt="" style="width: 100%;"></a></h5>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <img src="https://pbs.twimg.com/profile_images/833789473376854018/skScegH6_400x400.jpg" alt="" style="width: 65%;">
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-lg-2"></div>
        <div class="col-lg-6 mt-5">
            <h1 class="display-2 text-success mt-5">Back-End</h1>
            <h6 class="text-success display-3">NodeJS</h6>
            <p><b><i>Node. js</i></b> is a progressive backend development technology that was first released in 2009. It continues to grow in popularity among software developers for creating both the frontend and backend of apps, using a single programming language, JavaScript.</p>
            <h6 class=" text-success">Developer : Sourabh Poojary</h6>
            <div class="row d-flex align-items-center">
                <div class="col-lg-3"></div>
                <div class="col-lg-2"><h5><a href="https://www.instagram.com/well_iam._.sourabh/" target="_blank"><img src="https://cdn4.iconfinder.com/data/icons/picons-social/57/38-instagram-3-512.png" alt="" style="width: 100%;"></a></h5></div>
                <div class="col-lg-2">
                <h5><a href="https://www.facebook.com/Sourabhkumar99/" target="_blank"><img src="https://i.pinimg.com/originals/b7/63/69/b763699fd1fa3bfb374442593ae642e1.png" alt="" style="width: 120%;"></a></h5>
               
                </div>
                <div  class="col-lg-2 ml-1">
                    <h5><a href="https://github.com/Sourabhpoojari" target="_blank"><img src="https://icons-for-free.com/iconfiles/png/512/github+icon-1320168274457504277.png" alt="" style="width: 100%;"></a></h5>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <img src="https://images.g2crowd.com/uploads/product/image/social_landscape/social_landscape_f0b606abb6d19089febc9faeeba5bc05/nodejs-development-services.png" alt="" style="width: 95%; position: relative; left: -12%;">
        </div>
    </div>
</div>
<script>
      $(document).ready(function(){
   

   $(".fixed-top").css("background-color", "#28A745"); 
});

</script>
<%- include("partials/footer") %>

