<%- include("partials/header") %>
<div class="row p-5 " id="content">
    <div class="col-lg-12 d-flex justify-content-between">
        <div>
            <!-- <img src="/loginleaves.jpg " style="width: 30%;" alt=""> -->
            <span><h2>Plant <span class="text-success">Arena</span></h2></span>
        </div>
     <div>
        <!-- <h1 class="text-center"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-receipt-cutoff" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1.92.506a.5.5 0 0 1 .434.14L3 1.293l.646-.647a.5.5 0 0 1 .708 0L5 1.293l.646-.647a.5.5 0 0 1 .708 0L7 1.293l.646-.647a.5.5 0 0 1 .708 0L9 1.293l.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .801.13l.5 1A.5.5 0 0 1 15 2v13h-1V2.118l-.137-.274-.51.51a.5.5 0 0 1-.707 0L12 1.707l-.646.647a.5.5 0 0 1-.708 0L10 1.707l-.646.647a.5.5 0 0 1-.708 0L8 1.707l-.646.647a.5.5 0 0 1-.708 0L6 1.707l-.646.647a.5.5 0 0 1-.708 0L4 1.707l-.646.647a.5.5 0 0 1-.708 0l-.509-.51L2 2.118V15H1V2a.5.5 0 0 1 .053-.224l.5-1a.5.5 0 0 1 .367-.27zM0 15.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
            <path fill-rule="evenodd" d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm8-8a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"/>
          </svg></h1> -->
        <h2>Invoice</h2>
     </div>
    </div>
    <hr class="col-lg-12">
    <div class="col-lg-12 d-flex justify-content-between mt-5">
        <strong>Date : <span class="text-muted" id="date"></span> </strong>
        <strong>Invoice No. : <span class="text-muted">89562358</span> </strong>
    </div>
    <hr class="col-lg-12">

    <div class="col-lg-12 d-flex justify-content-between mt-5">
        <strong>Invoiced To :</strong>
        <strong>Pay To :</strong>
    </div>
   
    <div class="col-lg-12 d-flex justify-content-between mt-2">
        <i style="width: 10%;" class="text-muted">
            
            Buyer 
            Buyer address
            574227
            buyer@gmail.com
           
        </i>

        <i style="width: 10%;" class="text-muted">
           
            Plant Arena
            Plant arena address
            574227
            plantarena@gmail.com
        </i>
    </div>
  
    <div class="col-lg-12 mt-5">
        <table class="table">
            <thead class="bg-success">
              <tr class="text-light">
                <th scope="col">Product</th>
                <th scope="col">Rate</th>
                <th scope="col">Quantity</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Peace lilly</th>
                <td>&#x20B9;250.00</td>
                <td>1</td>
                <td>&#x20B9;250.00</td>
              </tr>
              <tr>
                <th scope="row">Sunflower plant</th>
                <td>&#x20B9;50.00</td>
                <td>2</td>
                <td>&#x20B9;100.00</td>
              </tr>
              <tr>
                <th scope="row">Rose Plant</th>
                <td>&#x20B9;80.00</td>
                <td>3</td>
                <td>&#x20B9;240.00</td>
              </tr>
              <tr class="bg-success text-light">
                <th scope="row"></th>
                <td></td>
                <td>Total :</td>
                <td>&#x20B9;590.00</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
<div class="text-center">
    <a href="javascript:genPDF()" class="btn btn-success btn-sm mb-5" ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
        <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
      </svg> Download Invoice</a> 
</div>












<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js" integrity="sha512-s/XK4vYVXTGeUSv4bRPOuxSDmDlTedEpMEcAQk0t/FMd9V6ft8iXdwSBxV0eD60c6w/tjotSlKu9J2AAW1ckTA==" crossorigin="anonymous"></script>
<script>
    n =  new Date();
y = n.getFullYear();
m = n.getMonth() + 1;
d = n.getDate();
document.getElementById("date").innerHTML = d + "/" + m + "/" + y;
  function genPDF()
  {
   html2canvas(content,{
   onrendered:function(canvas){

   var img=canvas.toDataURL("image/png");
   var doc = new jsPDF();
   doc.addImage(img, 'JPEG', 0, 30, 210, 120);

   doc.save('plantArenaInvoice.pdf');
   }

   });

  }
</script>
<%- include("partials/footer") %>
