<%- include("partials/header") %>
<div class="background">


    <nav class="navbar navbar-expand-lg navbar-light customNav">
        <a class="navbar-brand ml-4 text-light" href="#">Plant Arena</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link ml-4 text-light" href="#">Contact <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-4 text-light" href="#">About us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle ml-4 text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
              </a>
              <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
    
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <div class="header text-center  container">
        <h1 class="text-light">Plant Arena</h1>
        <p class="text-light mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, sit architecto eos rerum, in consequuntur doloribus vero minus, expedita assumenda veritatis perferendis excepturi. Laborum sit minima atque quae placeat consequuntur.</p>
        <button class="btn btn-light round mt-5">Get Started</button>
    </div>
  </div>

    <div>
      <div class="container mt-5 text-center">
        <h2 class="text-center subText">Best Selling</h2>
        <div class="row align-items-center">
          <div class="col-lg-3">
            <img class="bestSellingImg" src="/mostsold.png" alt="">
          </div>
          <div class="col-lg-8">
          <P>
            It is a long established fact that a reader will be distracted by the readable content of a page
            when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
            distributionvv
          </P>
          </div>
        </div>
        <button class="btn btn-success seemorebtn ">See More</button>

      

      </div>
      <div class="jumbotron jumbo mt-5">
        <h2 class="text-center subText">Get plants same day</h2>

        <div class="row align-items-center text-center">
          <div class="col-lg-10 ">
            
              <div class="container">
                <p class="mt-3">It is a long established fact that a reader will be distracted by the readable content of a page
                  when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.  </p>
  
              </div>
           
          </div>
          <div class="col-lg-2">
            <div class="samedayImage"></div>
          </div>
        </div>
        <div class="text-center container">
          <button class="btn btn-success seemorebtn mt-3">Know More</button>

        </div>
      </div>
    </div>

    <div>
      <div class="breathFresh text-center">
 
    <!-- <div class="container  text-light topmargin ">
      <h1>BREATH FRESH</h1>
      <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo unde sequi quo nesciunt, illum deserunt? Omnis, aliquam vel ratione deserunt sint, velit totam quam in aspernatur sunt inventore, hic nisi.</P>
     </div> -->
     <div class="header text-center  container">
      <h1 class="text-light">BREATH FRESH</h1>
      <p class="text-light mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, sit architecto eos rerum, in consequuntur doloribus vero minus, expedita assumenda veritatis perferendis excepturi. Laborum sit minima atque quae placeat consequuntur.</p>
      
     </div>
  
      </div>
      <div class="container">
        <div class="row mt-5">
          <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
              <img src="/productfresh2.jpg" class="card-img-top" alt="...">
              <h6 class="text-center mt-2 subText">Nephrolepis Exaltata Teddy</h6>

            </div>
          </div>
          <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
              <img src="/productfresh1.jpg" class="card-img-top" alt="...">
              <h6 class="text-center mt-2 subText">Sansevieria trifasciata </h6>

            </div>
          </div>
          <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
              <img src="/productfresh3.jpg" class="card-img-top" alt="...">
              <h6 class="text-center mt-2 subText">Peace Lily, Spathiphyllum</h6>

            </div>
          </div>
          
        </div>

      </div>
      <button class="btn btn-success seemorebtn2 mt-4 pr-3" >See More</button>

    </div>

    <div>
      <div class="container n_margin">
        <div class="row mt-5 card_change">
          <div class="col-lg-9">
            <div class="natureDoctor">
              <div class="header p-5  container">
                <h1 class="text-light">NATURE IS A DOCTOR</h1>
                <p class="text-light mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, sit architecto eos rerum, in consequuntur doloribus vero minus, expedita assumenda veritatis perferendis excepturi. Laborum sit minima atque quae placeat consequuntur.</p>
                
               </div>
            </div>
            <div class="row mt-5">
              <div class="col-lg-4">
                <div class="card p-4" style="width: 18rem;">
                  <img src="/Ndoc1.jpg" class="card-img-top" alt="...">
                  <h6 class="text-center mt-2 subText">Jasminum sambac</h6>

                </div>
              </div>
              <div class="col-lg-4">
                <div class="card p-4" style="width: 18rem;">
                  <img src="/Ndoc2.png" class="card-img-top" alt="...">
                  <h6 class="text-center mt-2 subText">Rosemary - Plant</h6>


                </div>
              </div>
              <div class="col-lg-4">
                <div class="card p-4" style="width: 18rem;">
                  <img src="/Ndoc3.jpg" class="card-img-top" alt="...">
                  <h6 class="text-center mt-2 subText">Lemon Grass - Plant</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3  ">
            <div class="card mb-5 pb-4 pl-4 pr-4" style="width: 18rem;">
              <img src="/Ndoc4.jpg" class="card-img-top" alt="...">
              <h6 class="text-center mt-2 subText">Black Turmeric Plant </h6>

            </div>
        
           
              <div class="card mt-5 p-4" style="width: 18rem;">
                <img src="/Ndoc5.jpg" class="card-img-top" alt="...">
                <h6 class="text-center mt-2 subText">Spinach All Green </h6>

              </div>
              <div class="text-center">
                <button class="btn btn-success seemorebtn mt-4" style="width: 80%;" >See More</button>
              </div>

            
          </div>
        </div>
      </div>

    </div>




<%- include("partials/footer") %>
