<%- include('partials/nonav') %>
<div>
    <div>
        <div class="row">
            <div class="col-lg-4">
                <div class="headMargin">
                    <h1 class="display-1 heading">PLANT</h1>
                    <br>
                    <h1 class="display-1 heading">ARENA</h1>
                    <p class="infopara">
                        Get your favourite plants home and decorate your place as per your choice.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="inputForm p-5">
                    <form action="/login" method="POST">
                        <div class="text-center textColor">
                            <h5 class="animate__animated  animate__lightSpeedInLeft" >Hello There!</h5>
                            <img src="/loginleaves.jpg " class="loginLeaves" alt="">
                            <h6>Login here</h6>
                           </div>
                           <span> <label for="name"><small> <img src="/singleDark.svg" alt="" class="svgAlignment"> User Name</small></label></span>
                           <div class="form-group">
                           

                            <input class="form-control" type="text" name="username" placeholder="username" required minlength="3" maxlength="35">
                            </div>
                           <span> <label for="email"><small><img src="/password-i.svg" alt="" class="svgAlignment"> Password</small></label></span>

                            <div class="form-group">
                                <input class="form-control" type="password" name="password" id="password" placeholder="Password" required minlength="3" maxlength="30">
                                <i class="far fa-eye logineye"  id="togglePassword"></i>
                                </div>
                            <div class="text-center mt-3">
                                <button type="submit" class="btn btn-success btn-block">LOGIN</button>
                            </div>
                            <div class="text-center mt-3 textColor">
                                <p>Don't have an account?</p>
                                    <a href="/signup"><b>Sign Up</b></a>
                            </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 imgAlign">
                <div class="rightsideImg d-flex justify-content-center">
                    <div class="text-light textMargin text-center">
                        <h3 class="pl-5">Plant Arena</h3>
                        <p class="pl-5">Plant Arena is truly the complete encyclopedia for plants. Be it any variety of plants, you name it, and this website has got it for you. They also have many interesting combos, like the best indoor plants, gardening tools, Air purifying plant packs and many more.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
