<%- include("partials/header") %>
<div>
    <!-- <div class="rightsideImg d-flex justify-content-center">
        <div class="text-light textMargin text-center">
            <h3 class="pl-5">Plant Arena</h3>
            <p class="pl-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, esse veritatis quam dicta ullam impedit reprehenderit explicabo officiis aliquam. Facere eveniet qui, amet nam unde ea earum. Saepe, dicta iste.</p>
        </div>
    </div> -->
 

    <div>
        <div class="row">
            <div class="col-lg-4">
                <div class="headMargin">
                    <h1 class="display-1 heading">PLANT</h1>
                    <br>
                    <h1 class="display-1 heading">ARENA</h1>
                    <p class="infopara">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dignissimos  Aliquam dignissimos 
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="inputForm p-5">
                    <form action="/user/login" method="POST">
                        <div class="text-center textColor">
                            <h5 class="animate__animated  animate__lightSpeedInLeft" >Hello There!</h5>
                            <img src="/loginleaves.jpg " class="loginLeaves" alt="">

                            <h6>Login here</h6>
                            <!-- <img src="/email-i.svg" alt="" class="svgAlignment">
                            <img src="/password-i.svg" alt="" class="svgAlignment"> -->
                           </div>
                           <span> <label for="email"><small> <img src="/email-i.svg" alt="" class="svgAlignment"> Email Address</small></label></span>
                           <div class="form-group">
                           

                            <input class="form-control" type="email" name="email" placeholder="Email Address">
                            </div>
                           <span> <label for="email"><small><img src="/password-i.svg" alt="" class="svgAlignment"> Password</small></label></span>

                            <div class="form-group">
                                <input class="form-control" type="password" name="password" placeholder="Password">
                                </div>
                            <div class="d-flex justify-content-between mt-2 textColor">
                                <div class="d-flex align-items-top ">
              
                                    <div>
                                        <input type="checkbox" id="box-2" formControlName="remember">
                                    </div>
                                    <div class="ml-2">
                                        <small>Remember Me</small>
                                    </div>
                                </div>
                                <div>
                                    <p><small>Forgot Password?</small></p>
                                </div>
                            </div>
                            <div class="text-center mt-3">
                                <button type="submit" class="btn btn-success btn-block">LOGIN</button>
                            </div>
                            <div class="text-center mt-3 textColor">
                                <p>Don't have an account?</p>
                                    <a href="/signup"><b>Sign Up</b></a>
                            </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 imgAlign">
                <div class="rightsideImg d-flex justify-content-center">
                    <div class="text-light textMargin text-center">
                        <h3 class="pl-5">Plant Arena</h3>
                        <p class="pl-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, esse veritatis quam dicta ullam impedit reprehenderit explicabo officiis aliquam. Facere eveniet qui, amet nam unde ea earum. Saepe, dicta iste.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer") %>